@model BeToff.Web.Models.InvitationCreateViewModel
@{
    ViewData["Title"] = "SendInvitation";
}

<h1>Send</h1>

<h4>Invitation</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="SendInvitation">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="ReceiverId" class="control-label"></label>
                <select asp-for="ReceiverId" class="form-control" asp-items="Model.Recievers">
                    <option value=""> ---- Select receiver ----</option>
                </select>
            </div>
            <div class="form-group">
                <label asp-for="FamillyItemId" class="control-label"></label>
                <select asp-for="FamillyItemId" class="form-control" asp-items="Model.Famillies">
                    <option value=""> ---- Select Familly----</option>
                </select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

