@model BeToff.Web.Models.FamillyViewModel;
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome To @Model.Familly.Name</h1>
</div>

<div class="text-center">
    <a class="btn btn-ouline-dark" asp-action="" asp-route-id="">Member</a>
</div>
