@model BeToff.Web.Models.FamillyViewModel;
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome To @Model.Familly.Name</h1>
</div>

<div class="text-center">
    <a class="btn btn-outline-dark" asp-action="Members" asp-route-id="@Model.Familly.Id">Members</a>
</div>
